.header{
    width: 100%;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--color-black);
    border-top: 1px solid var(--color-black);
    padding-bottom: 10px;
    padding-top: 10px;
}
.header-menu{
    max-width: 800px;
    margin: 0 auto;
    height: 120px;   
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.header-menu__btn{
    width: 220px;   
    height: 40px;
    margin: auto auto;   
    font-size: var(--font-size-secondary);
    font-weight: 400;
    padding: 5px 20px;
    border-radius: 10px;
    border: 1px solid var(--color-black);
    background-color: var(--color-white-secondary);
    cursor: pointer;
}